*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
./closetAnd/app/src/main/res/values/map_key_api.xml
./closetAnd/app/src/main/cpp/CMakeLists.txt
closetAnd/app/src/main/cpp/CMakeLists.txt
closetAnd/app/src/main/res/values/map_key_api.xml
.externalNativeBuild
.cxx

